
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: var(--body-background-color);
    color: var(--primary-text-color);
}

#app {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	flex-direction: column;
}

.text-container {
	font-family: 'Courier New', Courier, monospace;
	font-size: 36px;
}

h2{
	color: blanchedalmond;
}
.levels__button-easy, .levels__button-medium, .levels__button-hard {
	
	color: black;
	background-color: blanchedalmond;
	size: 20px;
	padding: 5px;
	cursor: pointer;
	
}

